FormUI/Service References/GetMainBelt/GetMainBelt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMainBeltInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mainBelt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMainBeltInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMainBeltInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMainBeltInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMainBeltInfo" />
  </wsdl:message>
  <wsdl:message name="GetMainBeltInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMainBeltInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="GetMainBeltSoap">
    <wsdl:operation name="GetMainBeltInfo">
      <wsdl:input message="tns:GetMainBeltInfoSoapIn" />
      <wsdl:output message="tns:GetMainBeltInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetMainBeltSoap" type="tns:GetMainBeltSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMainBeltInfo">
      <soap:operation soapAction="http://tempuri.org/GetMainBeltInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetMainBeltSoap12" type="tns:GetMainBeltSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMainBeltInfo">
      <soap12:operation soapAction="http://tempuri.org/GetMainBeltInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetMainBelt">
    <wsdl:port name="GetMainBeltSoap" binding="tns:GetMainBeltSoap">
      <soap:address location="http://localhost:10166/GetMainBelt.asmx" />
    </wsdl:port>
    <wsdl:port name="GetMainBeltSoap12" binding="tns:GetMainBeltSoap12">
      <soap12:address location="http://localhost:10166/GetMainBelt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>